<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%green(%date{ISO8601}) %gray(level=)[%highlight(%5level)] %gray(message=[%yellow(%message)])  %gray(logger=[%logger] thread=[%thread] rid=[%X{X-Request-ID}] user=[%X{Authorization}]) %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
    </encoder>
  </appender>
  <root level="OFF">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
