/*
    Styling in this and other .scss files will be compiled by the sbt-sass-compiler plugin: https://github.com/hmrc/sbt-sass-compiler
    If you encounter any issue with Sass compilation using the plugin, please reach out to the PlatUI team.
 */

.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}

.govuk-link--disabled {
  pointer-events: none;
  color: #6a6a6a;
  text-decoration: none;
}

.govuk-table {
  &__header,
  &__cell {
    border: 0;
  }
}

.text-turquoise {
  color: #28a197;
}

.govuk-summary-list__key {
    width: 35%;
 }
